.container {
  width: 1920px;
  height: 102px;
  padding-top: 40px;
  background: #dfe3eb 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container p {
  width: 616px;
  height: 22px;
  padding-left: 210px;
  text-align: center;
  font: normal normal normal 18px/22px Roboto;
  letter-spacing: 0px;
  color: #656565;
}
@media (max-width: 1550px) {
  .container p {
    width: 100%;

    padding-left: 0px;
    text-align: center;
  }
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container p {
    font-size: 2vw;
  }
}
